@model ProductVM

<div class="row pb-2">
    <h2 class="text-primary"> @(Model.Product.Id != 0 ? "Update":"Create" ) Product</h2>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />


    <div class="row">
        <div class="col-10">

            <div class="border p-3 mt-4">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3 row">
                    <label>Product Name</label>
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Description" class="text-muted">Description</label>
                    <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.ISBN">ISBN</label>
                    <input asp-for="Product.ISBN" type="text" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Author">Author</label>
                    <input asp-for="Product.Author" type="text" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.ListPrice">ListPrice</label>
                    <input asp-for="Product.ListPrice" type="text" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Price">Price</label>
                    <input asp-for="Product.Price" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Price50">Price50</label>
                    <input asp-for="Product.Price50" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Price100">Price100</label>
                    <input asp-for="Product.Price100" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.ImageUrl">ImageUrl</label>
                    <input type="file" name="file" class="form-control" />
                </div>

                <div class="mb-3 row">
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disab selected>--Select Category--</option>

                    </select>

                </div>





                <div class="row">

                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>
                        }
                    </div>

                    <div class="col-6 col-md-3">

                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control" style="width:150px">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100%"
                style="border-radius:5px; border:1px solid"/>
        </div>
    </div>


</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        </script>
    }
}
